<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>Add/Change/Kill ant at coords:</label><br>
    <label for="x_ant">x:</label>
    <input type="text" id="x_ant" name="x_ant" size="4">
    <label for="y_ant">y:</label>
    <input type="text" id="y_ant" name="y_ant" size="4">
    <label for="o_ant">orientation:</label>
    <input type="text" id="o_ant" name="o_ant" size="4"><br><br>
    <label>Change tile color at coords:</label><br>
    <label for="x_color">x:</label>
    <input type="text" id="x_color" name="x_color" size="4">
    <label for="y_color">y:</label>
    <input type="text" id="y_color" name="y_color" size="4">
    <label for="c_index">color:</label>
    <input type="text" id="c_index" name="c_index" size="4"><br><br>
    <input type="submit" value="Submit"><br><br>
    <input type="submit" value="Play/Pause">
    <input type="submit" value="<<">
    <input type="submit" value="<">
    <label for="s_index"></label>
    <input type="text" id="s_index" name="s_index" size="4">
    <label>id="" /100</label>
    <input type="submit" value=">">
    <input type="submit" value=">>"><br><br>


</body>
</html>